In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'0.22.0'

In [12]:
!echo {"ekka"}|sudo -S {"sudo -S -E -H pip3 install --upgrade pandas"}

[sudo] password for ekka: Collecting pandas
  Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x7f5ab4566d30>: Failed to establish a new connection: [Errno -2] Name or service not known',)': /simple/pandas/
  Retrying (Retry(total=3, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x7f5ab4566f28>: Failed to establish a new connection: [Errno -2] Name or service not known',)': /simple/pandas/
  Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x7f5ab4566438>: Failed to establish a new connection: [Errno -2] Name or service not known',)': /simple/pandas/
  Retrying (Retry(total=1, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object at 0x7f5ab4566fd0>: Failed to establish a new connection: [Errno -2] Name or service not known',)': /simple/pandas/
^C

In [13]:
import getpass
import os

password = getpass.getpass()
command = "sudo -S pip3 install --upgrade pandas" #can be any command but don't forget -S as it enables input from stdin
os.system('echo %s | %s' % (password, command))

········

256

In [6]:
!sudo -S pip3 install --upgrade pandas

[sudo] password for ekka:

In [3]:
!pip install --upgrade pip

Cache entry deserialization failed, entry ignored
Collecting pip
  Downloading https://files.pythonhosted.org/packages/5f/25/e52d3f31441505a5f3af41213346e5b6c221c9e086a166f3703d2ddaf940/pip-18.0-py2.py3-none-any.whl (1.3MB)
    100% |████████████████████████████████| 1.3MB 918kB/s eta 0:00:01
Installing collected packages: pip
  Found existing installation: pip 9.0.1
    Uninstalling pip-9.0.1:
      Successfully uninstalled pip-9.0.1
Successfully installed pip-18.0

In [3]:
train_data = pd.read_csv("./data/Training_dataset_Original.csv")
leaderboard_data = pd.read_csv("./data/Leaderboard_dataset.csv")
test_data = pd.read_csv("./data/Evaluation_dataset.csv")

/usr/local/lib/python2.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
train_data_original = train_data.copy()
leaderboard_data_original = leaderboard_data.copy()
test_data_original = test_data.copy()

In [5]:
test_data.isna().sum()

application_key        0
mvar1                  0
mvar2               1954
mvar3                170
mvar4                170
mvar5                170
mvar6                  0
mvar7                  0
mvar8                  0
mvar9                  0
mvar10                 0
mvar11                 0
mvar12                 0
mvar13                 0
mvar14                 0
mvar15                 0
mvar16                 0
mvar17                 0
mvar18                 0
mvar19                 0
mvar20                 0
mvar21              7387
mvar22              9831
mvar23             13399
mvar24              6117
mvar25                 0
mvar26                 0
mvar27                 0
mvar28                 0
mvar29                 0
mvar30                 0
mvar31                 0
mvar32                 0
mvar33               616
mvar34                 0
mvar35                 0
mvar36                 0
mvar37                 0
mvar38                 0
mvar39                 0
mvar40                 0
mvar41                 0
mvar42                 0
mvar43                 0
mvar44              2625
mvar45                 0
mvar46                 0
mvar47                 0
dtype: int64

In [6]:
import matplotlib.pyplot as plt

In [7]:
train_data.plot(x = 'mvar1',y = 'mvar2')

In [8]:
train_data.boxplot(column = "mvar2",by = "default_ind")

In [9]:
train_data['mvar2'][train_data['default_ind'] == 0].count()

55439

In [10]:
bx = train_data.boxplot(column = 'mvar3',return_type = "both")

In [11]:
train_data['mvar3'][train_data['mvar3'] > 6.447].count()

19872

In [12]:
train_data['mvar24'].describe()

count    61098.000000
mean        69.981834
std        300.080442
min          0.000000
25%          9.892500
50%         40.440000
75%         76.540000
max      27867.400000
Name: mvar24, dtype: float64

In [13]:
train_data['mvar21'][train_data['mvar21'] > 100].count()

4460

In [14]:
train_data['mvar1'] = pd.to_numeric(train_data['mvar1'], errors='coerce')

In [15]:
train_data['mvar1'].describe()

count    76361.000000
mean      1745.971085
std         94.537617
min       1493.000000
25%       1679.000000
50%       1742.000000
75%       1810.000000
max       1950.000000
Name: mvar1, dtype: float64

In [16]:
train_data.boxplot(column = 'mvar1',by = 'default_ind')

In [17]:
train_data['mvar6'] = pd.to_numeric(train_data['mvar6'], errors='coerce')

In [18]:
train_data['mvar6'].describe()

count     61036.000000
mean       1606.702372
std        3703.654127
min           0.000000
25%          36.000000
50%         297.000000
75%        1343.250000
max      136595.000000
Name: mvar6, dtype: float64

In [19]:
for column in train_data.columns:
    if column != 'application_key':
        train_data[column] = pd.to_numeric(train_data[column], errors='coerce')

In [20]:
train_data.describe()

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47,default_ind
count,80000.000000,76361.000000,74447.000000,79499.000000,79499.000000,79499.00000,61036.000000,7.260600e+04,61036.00000,6.859200e+04,...,73960.000000,17443.000000,25422.000000,78099.000000,79182.000000,72255.000000,35145.000000,57211.000000,0.0,80000.000000
mean,270031.500000,1745.971085,1.105629,5.280955,0.474516,1.12472,1606.702372,1.759581e+04,6773.68666,3.409744e+04,...,0.090819,98.497452,72.096758,0.335142,6.552777,0.705285,0.070736,0.096135,NaN,0.246213
std,23094.155105,94.537617,1.645299,10.815463,1.796261,5.99545,3703.654127,4.708164e+04,10127.74526,5.337692e+04,...,0.419301,29.762399,24.442156,0.375656,6.311087,0.245879,0.287365,0.346109,NaN,0.430806
min,230032.000000,1493.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000e+00,0.00000,0.000000e+00,...,0.000000,0.014000,0.000000,0.000000,0.000000,0.060660,0.000000,0.000000,NaN,0.000000
25%,250031.750000,1679.000000,0.140100,0.000000,0.000000,0.00000,36.000000,1.756000e+03,490.00000,3.498000e+03,...,0.000000,90.689000,58.153000,0.000000,2.000000,0.515220,0.000000,0.000000,NaN,0.000000
50%,270031.500000,1742.000000,0.538900,0.300000,0.000000,0.00000,297.000000,6.967000e+03,2478.00000,1.417100e+04,...,0.000000,100.000000,78.883500,0.200000,5.000000,0.737030,0.000000,0.000000,NaN,0.000000
75%,290031.250000,1810.000000,1.445050,6.447000,0.000000,0.00000,1343.250000,1.805575e+04,9684.25000,4.385375e+04,...,0.000000,111.698000,91.639750,0.571430,10.000000,0.943475,0.000000,0.000000,NaN,0.000000
max,310031.000000,1950.000000,44.630100,286.858000,114.696000,226.52700,136595.000000,5.549600e+06,291810.00000,3.711880e+06,...,21.000000,430.300000,170.000000,2.000000,91.000000,1.000000,5.000000,19.000000,NaN,1.000000

In [21]:
train_data.isna().sum()

application_key        0
mvar1               3639
mvar2               5553
mvar3                501
mvar4                501
mvar5                501
mvar6              18964
mvar7               7394
mvar8              18964
mvar9              11408
mvar10               502
mvar11             44819
mvar12             14078
mvar13              8352
mvar14                 0
mvar15             32067
mvar16             18510
mvar17             15846
mvar18             14771
mvar19                 4
mvar20               502
mvar21             22561
mvar22             29124
mvar23             40248
mvar24             18902
mvar25              7706
mvar26             10610
mvar27             13209
mvar28               502
mvar29               502
mvar30             36417
mvar31             56218
mvar32              7706
mvar33              1751
mvar34               502
mvar35             33014
mvar36              2898
mvar37              7706
mvar38               502
mvar39              6040
mvar40             62557
mvar41             54578
mvar42              1901
mvar43               818
mvar44              7745
mvar45             44855
mvar46             22789
mvar47             80000
default_ind            0
dtype: int64

In [22]:
train_data.fillna(train_data.mean(),inplace = True)

In [23]:
train_data.isna().sum()

application_key        0
mvar1                  0
mvar2                  0
mvar3                  0
mvar4                  0
mvar5                  0
mvar6                  0
mvar7                  0
mvar8                  0
mvar9                  0
mvar10                 0
mvar11                 0
mvar12                 0
mvar13                 0
mvar14                 0
mvar15                 0
mvar16                 0
mvar17                 0
mvar18                 0
mvar19                 0
mvar20                 0
mvar21                 0
mvar22                 0
mvar23                 0
mvar24                 0
mvar25                 0
mvar26                 0
mvar27                 0
mvar28                 0
mvar29                 0
mvar30                 0
mvar31                 0
mvar32                 0
mvar33                 0
mvar34                 0
mvar35                 0
mvar36                 0
mvar37                 0
mvar38                 0
mvar39                 0
mvar40                 0
mvar41                 0
mvar42                 0
mvar43                 0
mvar44                 0
mvar45                 0
mvar46                 0
mvar47             80000
default_ind            0
dtype: int64

In [24]:
train_data['mvar47'] = pd.get_dummies(train_data_original['mvar47'])

In [25]:
x_train = train_data.loc[:,'mvar1':'mvar47']
y_train = train_data['default_ind']

In [26]:
leaderboard_data.describe()

,application_key,mvar2,mvar3,mvar4,mvar5,mvar14,mvar21,mvar22,mvar23,mvar24,mvar33,mvar44
count,25000.000000,23294.000000,24842.000000,24842.000000,24842.000000,2.500000e+04,18106.000000,15919.000000,12359.000000,19223.000000,24461.000000,22538.000000
mean,362552.500000,1.118127,5.243267,0.463290,1.080183,1.523549e+05,57.885791,4427.876770,4270.918441,72.500520,6.920566,0.702558
std,7217.022701,1.658707,10.605688,1.688155,5.813250,6.337980e+06,35.344775,3813.637964,3774.419701,305.673992,7.655343,0.246612
min,350053.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.117000,0.000000,0.000000,0.000000,0.083300,0.072760
25%,356302.750000,0.142725,0.000000,0.000000,0.000000,4.261300e+04,27.244750,750.845000,532.705000,10.345000,1.166700,0.509132
50%,362552.500000,0.542400,0.286000,0.000000,0.000000,7.234300e+04,59.569500,3978.570000,3707.500000,41.220000,3.833300,0.732740
75%,368802.250000,1.469375,6.480000,0.000000,0.000000,1.238750e+05,86.366500,7523.980000,7405.470000,76.250000,10.500000,0.942372
max,375052.000000,31.018100,167.740000,21.245200,156.878000,9.910000e+08,565.800000,99800.000000,41737.500000,22621.130000,76.500000,1.000000

In [27]:
for column in leaderboard_data.columns:
    if column != 'application_key':
        leaderboard_data[column] = pd.to_numeric(leaderboard_data[column], errors='coerce')

In [28]:
leaderboard_data.describe()

,application_key,mvar1,mvar2,mvar3,mvar4,mvar5,mvar6,mvar7,mvar8,mvar9,...,mvar38,mvar39,mvar40,mvar41,mvar42,mvar43,mvar44,mvar45,mvar46,mvar47
count,25000.000000,23850.000000,23294.000000,24842.000000,24842.000000,24842.000000,19193.000000,2.269400e+04,19193.000000,21523.000000,...,24842.000000,23078.000000,5458.000000,7748.000000,24367.000000,24723.000000,22538.000000,11027.000000,17851.000000,0.0
mean,362552.500000,1746.901551,1.118127,5.243267,0.463290,1.080183,1624.069192,1.775037e+04,6753.202313,33825.554662,...,4.251349,0.089912,98.491140,71.990942,0.331992,6.546091,0.702558,0.071280,0.092712,NaN
std,7217.022701,94.088195,1.658707,10.605688,1.688155,5.813250,3588.247900,5.485979e+04,10133.583639,51781.414456,...,3.870975,0.444250,30.488996,24.806054,0.374753,6.260583,0.246612,0.302654,0.321896,NaN
min,350053.000000,1477.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,...,0.000000,0.000000,0.018000,0.000000,0.000000,0.000000,0.072760,0.000000,0.000000,NaN
25%,356302.750000,1680.000000,0.142725,0.000000,0.000000,0.000000,36.000000,1.701000e+03,494.000000,3518.000000,...,2.000000,0.000000,91.338250,58.179500,0.000000,2.000000,0.509132,0.000000,0.000000,NaN
50%,362552.500000,1742.000000,0.542400,0.286000,0.000000,0.000000,297.000000,7.011500e+03,2503.000000,14072.000000,...,3.000000,0.000000,100.000000,79.123000,0.200000,5.000000,0.732740,0.000000,0.000000,NaN
75%,368802.250000,1811.000000,1.469375,6.480000,0.000000,0.000000,1371.000000,1.803575e+04,9595.000000,43009.500000,...,6.000000,0.000000,112.237500,91.666000,0.561950,10.000000,0.942372,0.000000,0.000000,NaN
max,375052.000000,1950.000000,31.018100,167.740000,21.245200,156.878000,59192.000000,5.637108e+06,223123.000000,840658.000000,...,73.000000,20.000000,631.360000,182.111000,2.000000,63.000000,1.000000,7.000000,3.000000,NaN

In [29]:
leaderboard_data['mvar47'] = pd.get_dummies(leaderboard_data_original['mvar47'])

In [30]:
leaderboard_data.fillna(leaderboard_data.mean(),inplace = True)

In [31]:
x_test = leaderboard_data.loc[:,'mvar1':]

In [32]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
clf.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [33]:
pred = clf.predict_proba(x_test)

In [34]:
pred = pd.DataFrame(pred)
pred['application_key'] = leaderboard_data['application_key']

In [35]:
pred.shape

(25000, 3)

In [36]:
pred = pred.sort_values(by = 0,kind = 'mergesort',ascending = False)

In [37]:
cols = pred.columns.tolist()
cols = cols[-1:] + cols[:-1]
pred = pred[cols]

In [38]:
pred = pred.loc[:,'application_key':]

In [39]:
submit = pred['application_key'][:10000]

In [40]:
submit = pd.DataFrame(submit)

submit

In [41]:
submit[0] = 0

In [42]:
submit.to_csv('flabbergasted_IITGuwahati_52.csv',header = False, index = False)

AttributeError: 'Series' object has no attribute 'columns'